# Файлы, создаваемые интерпретатором Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы виртуального окружения
.venv/
venv/

# Файлы проекта PyCharm
.idea/

# Логи и временные файлы
*.log
tmp/

# Сгенерированная документация
docs/_build/

# Файлы конфигурации, специфичные для вашей системы
local_settings.py
